@media screen and (max-width: 896px) {

.sp{
	display: block;
}
.pc{
	display: none;
}

.wrapper {
	margin: 0 auto 0px;
	max-width:100%;
	width: 100%;
}
.contents{
	width: 96%;
	margin:0 auto;
}
.wrap_area{
	display: flex;
	justify-content:space-between;
	width: 100%;
	/*margin-top:0.5rem;*/
}
/*--------------------------------*/
/*HEADER*/
/*--------------------------------*/
.header{
	position: relative;
	padding:7px 0 5px 7px;
	display: flex;
	border-bottom: 1px solid #e5e5e5;
}
	.header a.ttl_main{
		font-size: 27px;
		letter-spacing: 0px;
		font-weight: 500;
	}
	.header .ttl_sub{
		font-size: 12px;
		padding: 0px 5px 0 5px;
	}
	.header .header_icon{
		width: 10%
	}
		.header .header_icon img{
			width: 100%
		}
/*--------------------------------*/
/*ページタイトル*/
/*--------------------------------*/
.sp_title{
	text-align: center;
	margin:0.5rem 2% 1rem;
}
.sp_title p{
	text-decoration: none;
	font-size: 28px;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 1px;
	line-height: 1;
	background: #FFF;
	display: inline-block;

}
#news .sp_title p{
	color: #0bf;
}
#bio .sp_title p{
	color: #f39806;
}
#works .sp_title p{
	color: #70b539;
}
#bio .sp_title p{
	color: #f39806;
}
/*--------------------------------*/
/*Navi SP*/
/*--------------------------------*/
    /*============
    .toggle_btn
    =============*/
    .menu-trigger-wrap{
      position: absolute;
      right: 1%;
      top:7px;
      padding: 10px;
      z-index: 9999
    }
    .menu-trigger,
    .menu-trigger span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }
    .menu-trigger {
      position: relative;
      width:35px;
      height: 24px;
    }
    .menu-trigger span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      border-radius: 4px;
    }
    .menu-trigger span:nth-of-type(1) {
      top: 0;
    }
    .menu-trigger span:nth-of-type(2) {
      top: 11px;
    }
    .menu-trigger span:nth-of-type(3) {
      bottom: 0;
    }
    .gnavi_sp {
      z-index: 9999
    }
    .gnavi_sp .menu {
      display: none;
      position: absolute;
      left: 0%;
      top:58px;
      width: 100%;
      list-style: none;
      box-shadow:0 11px 10px -10px #666666;

    }

			.gnavi_sp .menu li a{
				text-decoration: none;
				font-size:25px;
				font-family: 'Dosis', sans-serif;
				letter-spacing: 1px;
				line-height: 1;
        background: #FFF;
        color: #000;
        display: block;
        padding: 2vw 0.4em;
        text-align: center;

			}
				.gnavi_sp .menu li.top_btn a{
					padding-top:10px;
				}
				.gnavi_sp .menu li.news_btn a{
					color: #0bf;
				}
				.gnavi_sp .menu li.works_btn a{
					color:#70b539;
				}
				.gnavi_sp .menu li.bio_btn a{
					color:#f39806;
				}
				.gnavi_sp .menu li.insta_btn a{
					color:#CC3366;
				}
				.gnavi_sp .menu li.twitter_btn a{
					color: #000;
				}
				.gnavi_sp .menu li.inst_btn a{
					color:#920783;
					padding-bottom: 20px;
				}
				.gnavi_sp .menu li.shop_btn a{
					color:#e60617;
				}
		.active.menu-trigger span:nth-child(1) {
		    top: 11px;
		    transform: rotate(315deg);
		}
		.active.menu-trigger span:nth-child(2) {
		width: 0;
		    left: 50%;
		}
		.active.menu-trigger span:nth-child(3) {
		    top: 11px;
		    transform: rotate(-315deg);
		}

/*--------------------------------*/
/*FOOTER*/
/*--------------------------------*/
.footer{
	clear:both;
	width: 96%;
	margin: 1rem auto;
}



/*--------------------------------*/
/*TOP*/
/*--------------------------------*/
#top .contents{
	padding-top:1rem;
}
.top_left{
	float: none;
	width:46%;
	margin:0;
}
.top_left img{
	width: 100%;
	max-width: 100%;
}
.top_right{
	float: none;
	width:50%;
	margin:0 0 1rem 0;
}
	.top_right .profTxt{
		margin: 0;
		padding: 0;
		height: auto;
	}
		.top_right .credit{
			margin-top: 0;
			font-size:16px;
			color: #000;
			line-height: 1.2em;
			font-family: 'Quicksand', sans-serif;
			font-weight: normal;
		}
		.top_right .txt{
			margin-top: 1rem;
			font-size:16px;
			line-height:1.6em;
		}
				.top_right .office{
					margin-top: 1rem;
				}
				.top_right .band{
					margin-top: 1rem;
					font-size: 16px;
				}
				.top_right .band p{
					font-size: 16px;
				}
				.top_right .link .itoi{
					font-size:16px;
					color: #e60617
				}
			.hyakka_sp{
				margin-top:1rem;
			}
				.hyakka_sp p{
					font-size:16px;
				}
				.hyakka_sp a{
					font-size: 12px;
					color: #e60617
				}
.soundcloud{
	margin-top:2rem;
}
/*--------------------------------*/
/*NEWS*/
/*--------------------------------*/
	#news .wrap_area{
		display: block;
	}
	.news_left{
		width: 100%;
		margin-top: 0
	}
	.news_right{
		width: 50%;
		margin-top: 0
	}
		.news_left .cdtitle{
			font-size: 17px;
		}
		.news_left .cdtitle span{
			font-family: 'Quicksand', sans-serif;
			font-size: 13px;
			margin-bottom: 0.2rem;
		}
		.news_left .txtBloc{
			margin: 0 10px 0 10px;
			font-size: 16px;
			line-height: 1.7em;
		}
			.news_left .txtBloc .ttl{
				margin-top:10px;
				font-size:16px;
				font-weight:bold;
				line-height: 1.5em;
			}
				.news_left .txtBloc .ttl a{
					font-size:16px;
					font-weight:bold;
				}
			.news_left .txtBloc .txt,.news_left .txtBloc .txt a{
				margin-top:10px;
				font-size: 16px;
				line-height: 1.6em;
			}
			span.complete{
				margin-top:10px;
				font-size: 16px;
				line-height: 1.6em;
				/*				text-decoration: line-through;*/
				background-image:url(/news/img/border_w_red.png);
				background-repeat:repeat-x;
				background-position: center;

			}
			span.thankyou{
				margin-top:10px;
				font-size: 16px;
				line-height: 1.6em;
				color: #F00;
			}
.newsimg {
	width: 100%;
}
	/*------------------------------------------------------
	NEWS（アーカイブ）
	------------------------------------------------------*/
	.txtBack{
		margin-bottom: 1rem;
		font-size: 16px;
	}
		.txtBack a{
			font-size: 0.8em;
			color: #F00
		}
	.ttl_year{
				font-family: 'Quicksand', sans-serif;
				color: #fff;
				background-color: #ff0000;
				border-radius: 0.4em;
				color: #FFF;
				display: inline-block;
				padding: 0.3rem 0.6rem 0.3rem 0.6rem;
				line-height: 1;
				margin-bottom:1rem;
				font-size: 18px;
	}

	.boxPastLive{
		font-size: 16px;
	}
	.boxPastLive strong{
		font-size: 16px;
	}


	/*------------------------------------------------------
	WORKS
	------------------------------------------------------*/
#works .wrap_area{
display: block;
}
.works_left{
	width: 100%;
	margin-top:0rem;
}
.works_right{
	width: 100%;
}
	.works_left table tr td iframe{
		width: 100%;
		height: 315px;
	}
	.works_left table tr td img{
		width: 100%;
		height: auto;
	}
	.works_left .cdtitle{
		padding-left: 0;
	}
	.works_left .txtBloc{
		margin-left: 0;
	}
	.works_left  p,
	.works_left  a{
		font-size: 16px;
	}
	.works_left .cdtitle{
		font-size: 17px;
	}
	.works_left .cdtitle span{
		font-size: 18px;
	}
	.works_left .txtBloc{
		font-size: 16px;
	}
/*------------------------------------------------------
BIO
------------------------------------------------------*/
#bio .wrap_area{
display: block;
}
.bio_left{
	width: 100%;
}
.bio_right{
	width: 100%;
	margin-top:0rem;
}
	#bio .bio_right p,
	#bio .bio_right a{
		font-size: 16px;
	}
	.bio_right .icon{
		font-size: 16px;
	}


}

