#common_nav .main_nav #nav_news a{
    color:#960135;
}
/****** Newsページ *******/
.news_wrapper{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.news_inner_wrap{
    max-width: 980px;
    margin: 66px auto;
}
    .news_title{
        background-color: #F5F1F2;
        padding: 30px 37px;
        font-size: 1.4em;
        font-weight: 700;
    }
    .news_info{
        width: 90%;
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        position:relative;
    }
        .koushin_data{
            margin-top: 12px;
            text-align: right;
            line-height: 1em;
        }
        .news_naiyou{
            margin-top:30px;
            font-weight: lighter;
        }
            .inner-left{
                float: left;
                width: 60%;
            }
            .inner-right{
                float: right;
                width: 39%;
            }
            .news_naiyou a{
                text-decoration: underline;
                color: #19199A;
            }
            .news_naiyou p{
                line-height: 1.8;
            }
            .news_naiyou img{
                width: 100%;
            }

@media screen and (max-width:768px){
    .news_inner_wrap{
        width: 96%;
        margin: 2.5em auto;
    }
    .news_title{
        padding:1.2em;
    }
    .inner-left,
    .inner-right{
        float: none;
         width: 100%;
    }
    .inner-right{
        padding-top: 1em;
    }

}