@media screen and (max-width: 896px) {

.sp{
	display: block;
}

.wrapper {
	margin: 20px auto 0px;
	max-width:100%;
	width: 96%;
}
.contents{
	width: 100%;
	margin: 0;
}
.wrap_area{
	display: flex;
	justify-content:space-between;
	width: 100%;
}
/*--------------------------------*/
/*HEADER*/
/*--------------------------------*/
.header{
}
	.header a.ttl_main{
		font-size: 25px;
		letter-spacing: 0px;
		font-weight: 500;
	}
	.header .ttl_sub{
		font-size: 14px;
		padding: 5px 5px 0 5px;
	}
	.header ul li{
		height: 30px;
		padding: 0 7px;
	}
			.header ul li a{
				font-size:15px;
			}

	#news .wrap_area{
		display: block;
	}
	.news_left{
		width: 100%;
		margin-top: 0
	}
	.news_right{
		width: 50%;
		margin-top: 0
	}
/*--------------------------------*/
/*NEWS*/
/*--------------------------------*/

		.news_left .cdtitle{
			font-size: 15px;
		}
		.news_left .cdtitle span{
			font-family: 'Quicksand', sans-serif;
			font-size: 15px;
			color: #e60617;

		}
		.news_left .txtBloc{
			margin: 0 10px 0 10px;
			font-size: 14px;
			line-height: 1.7em;
		}
			.news_left .txtBloc .ttl{
				margin-top:10px;
				font-size:14px;
				font-weight:bold;
			}
				.news_left .txtBloc .ttl a{
					font-size:14px;
					font-weight:bold;
				}
			.news_left .txtBloc .txt{
				margin-top:10px;
				font-size: 14px;
				line-height: 1.6em;
			}
			span.complete{
				margin-top:10px;
				font-size: 14px;
				line-height: 1.6em;
/*				text-decoration: line-through;*/
background-image:url(/news/img/border_w_red.png);
background-repeat:repeat-x;
background-position: center;

			}
			span.thankyou{
				margin-top:10px;
				font-size: 14px;
				line-height: 1.6em;
				color: #F00;
			}


}

